RewriteEngine on
ErrorDocument 400 https://klpod221.epizy.com/404
ErrorDocument 401 https://klpod221.epizy.com/404
ErrorDocument 403 https://klpod221.epizy.com/404
ErrorDocument 404 https://klpod221.epizy.com/404
ErrorDocument 503 https://klpod221.epizy.com/404
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*)$ index.php/$1 [L]