@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6.5rem;
  color: #fff;
}

audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}

img,
video {
  max-width: 100%;
  height: auto;
}

blockquote,
dd,
dl,
figure,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
pre {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: inherit;
}

[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
  background-color: transparent;
  background-image: none;
}

[role="button"],
button {
  cursor: pointer;
}

.my-scroll::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.infinite-scroll-component::-webkit-scrollbar,
.noScroll::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.my-scroll::-webkit-scrollbar-track,
.infinite-scroll-component::-webkit-scrollbar-track {
  -webkit-box-shadow: none;
  background-color: transparent;
}

.my-scroll::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 0.6rem;
}

#_no-clickjacking-0 {
  opacity: inherit !important;
}

#tsparticles {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  margin: 0;
}

main {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  padding: 0;
  width: 126.8rem;
  height: 62.5rem;
  display: flex;
  z-index: 10;
}

.notify__title { 
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.notify__text {
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.1em;
}

.loading {
  position: fixed;
  z-index: 9999;
  height: 100vh;
  width: 100vw;
  top: 10px;
  left: 0;
  background: #000;
  transition: 0.75s;

  .loading-title {
    color: #fff;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-transform: uppercase;
    font-size: 5em;
    letter-spacing: 0.085em;
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      max-width: 100%;
      width: 200px;
      margin-bottom: 10px;
    }

    .loading-dots {
      display: flex;
      justify-content: center;
      align-items: center;

      .dot {
        display: inline-block;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: #fff;
        margin: 0 2px;
        transition: 0.35s;
      }
    }
  }

  .loading-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: #fff;
  }

  .loading-progress {
    height: 11px;
    background: #000;
    top: -11px;
    bottom: 0;
    width: 100%;
    position: absolute;
    transition: 0.35s;
  }
}

.content-wrapper {
  width: 70.5rem;
  height: 100%;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;

  .content {
    background-color: rgb(17 24 39);
    height: 100%;
    position: relative;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0.7rem;
      z-index: 30;
      background-color: rgb(17 24 39);
      height: 1.5rem;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    .content-clip {
      background-color: rgb(17 24 39 / var(--tw-bg-opacity));
      width: 100%;
      height: 100%;
      max-height: 100%;

      .content-item {
        display: none;
        height: 100%;
        overflow-y: scroll;

        &.active {
          display: block;
        }
      }
    }
  }
}

.custom-header {
  position: relative;
  z-index: 20;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0.2rem;
    background: radial-gradient(
      ellipse at left,
      rgba(197, 202, 213, 0.15) 0,
      hsla(0, 0%, 100%, 0) 70%
    );
  }

  .header-text {
    position: relative;
    margin-left: 3rem;
    font-size: 1.875rem;
    color: rgb(209 213 219);
    line-height: 2.25rem;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 0.025em;

    &::before {
      content: "";
      position: absolute;
      left: -1rem;
      top: 0;
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      background: linear-gradient(
        135deg,
        rgba(246, 184, 70, 0.4),
        rgba(246, 184, 70, 0.01)
      );
    }
  }

  .first-letter {
    color: #f59e0b;
  }
}

.page-content-wrapper {
  padding: 2.5rem 3rem;

  .page-content {
    max-width: none;
    font-size: 1rem;
    line-height: 1.75;
    color: #9ca3af;

    h2 {
      margin: 0;
      color: inherit;
      margin-bottom: 0.625rem;
      font-size: 1.6rem;
      font-weight: 700;
      line-height: 1.3333333;
    }

    p {
      line-height: 1.65;
      font-size: 1.5rem;
      margin-bottom: 0;
      margin-top: 0;
    }
  }
}

menu,
ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  row-gap: 0.5rem;
  margin-top: 2.5rem;

  li {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: rgb(209 213 219);

    span {
      font-size: 1.5rem;
      line-height: 2rem;
      text-transform: none;
      color: rgb(156 163 175);
    }

    .text-dot {
      font-size: 2.25rem;
      line-height: 2.5rem;
      margin-left: 0.5rem;
      margin-right: 0.5rem;
    }
  }
}

@import "header";
@import "profile";
@import "contact";
